<div class="main">
  <h1>Spent too much and don't want to feel guilty?<h1>

  <form method="post" action="/change_limit">
    <div>
      <label class="inputs" for="new_limit">Change your limit:
        <input id="new_limit" name="new_limit" maxlength="6" />
      </label>
    </div>

    <button type="submit">Submit</button>
  </form>

  <div>
    <p><a class="button" href="/">Main Page</a></p>
  </div>
</div>
