<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Expense Tracker</title>
  </head>
  <body>
    <% if session[:limit_message] %>
      <p class="limit-message"><%= session.delete(:limit_message) %></p>
    <% end %>

    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <main>
      <%== yield %>
    </main>
  </body>
</html>